h1{
    color: rgb(94, 22, 136);
}
header{
    background-color: rgb(136, 82, 185);
}
.titulo{
    color: lemonchiffon;
    background-color: lightgreen;
    padding: 8px;
    text-align: center;

}
.body{
    font-style: italic;
    text-align: center;
    padding: 8px;
}
.pie{
    color: aquamarine;
    background-color: darkcyan;
    text-align: center;
    padding: 8px;
}
.card{
    font-family: sans-serif;
    box-shadow: 4px 4px 4px 4px;
    width: 300px;
    border-radius: 15px;
    margin: 10px;
    
}
.cards{
    display: flex;
}
.D{
    display: flex;
}
.car{
	border: 2px solid #070776;
	border-radius: 1rem;
    display: flex;
	justify-content: space-between;
	margin: 50px auto;
	width: 500px;
}
.car .cardbo{
	padding: 0 0 1rem 1rem;
	width: 80%;
}
.car .r{
	background: red;
	margin-right: 1.5rem;
	position: relative;
	width: 10%;
}
.car .c{
	align-items: center;
	background: white;
	border: 2px solid #0e0e32;
	border-radius: 50%;
	box-shadow: 4px 4px 4px 0px #b7acac;
	display: flex;
	justify-content: center;
	left: calc(50% - 36px);
	position: absolute;
	top: -30px;
	width: 70px;
}
.car .c img{
	transform: scale(80%);
}
.car .text{
	color:#5A3DB2;
	text-align: justify;
}
