h1{
    color: rgb(94, 22, 136);
}
header{
    background-color: rgb(136, 82, 185);
}
.titulo{
    color: lemonchiffon;
    background-color: lightgreen;
    padding: 8px;
    text-align: center;

}
.body{
    font-style: italic;
    text-align: center;
    padding: 8px;
}
.pie{
    color: aquamarine;
    background-color: darkcyan;
    text-align: center;
    padding: 8px;
}
.card{
    font-family: sans-serif;
    box-shadow: 4px 4px 4px 4px;
    width: 300px;
    border-radius: 15px;
    margin: 10px;
    
}
.cards{
    display: flex;
}
.D{
    display: flex;
}
.car{
	border: 2px solid #070776;
	border-radius: 1rem;
    display: flex;
	justify-content: space-between;
	margin: 50px auto;
	width: 500px;
}
.car .cardbo{
	padding: 0 0 1rem 1rem;
	width: 80%;
}
.car .r{
	background: red;
	margin-right: 1.5rem;
	position: relative;
	width: 10%;
}
.car .c{
	align-items: center;
	background: white;
	border: 2px solid #0e0e32;
	border-radius: 50%;
	box-shadow: 4px 4px 4px 0px #b7acac;
	display: flex;
	justify-content: center;
	left: calc(50% - 36px);
	position: absolute;
	top: -30px;
	width: 70px;
}
.car .c img{
	transform: scale(80%);
}
.car .text{
	color:#5A3DB2;
	text-align: justify;
}
table{
    
    color: rgb(80, 177, 104);
    border-collapse: collapse;
    margin: 0 auto;
    padding-top: 8px;
    border-top: 8px;
    border-left: 4px;
    padding-left: 4px;
}
caption{
    font-weight: bold;
    font-size: 18px;
}
td{
    background-color: rgb(99, 68, 145);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifdbb;
    color: rgb(176, 206, 183);
    border: solid rgb(52, 21, 165);
    text-align: left;
    font-size: 15px;
    
}
.destacar{
    background-color: rgb(151, 79, 79);
    color: rgb(14, 107, 107);
    text-align: center;
   
}
th{
   border:0;
  
  padding: 0px;
  width: 170px;


}
.p{
    font-size: 12px;
    text-align: center;
   
}
tr{
    height: 40px;
    width: 40px;
    
}